.header {
  background-color: #43191F;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 12px 0; }

.header__right-block {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.logo__wrap {
  display: flex;
  width: 170px;
  height: 97px;
  margin-right: 55px; }

.logo {
  width: 100%;
  height: 100%; }

.header__up-block {
  display: flex;
  margin-bottom: 21px;
  align-items: center; }

.service__information-list {
  display: flex;
  padding: 0;
  margin: 0; }

.service__information-list {
  margin-right: 127px;
  list-style: none;
  padding-left: 0px; }

.information__list-item {
  font-size: 14px;
  line-height: 16px;
  color: #F9F6F2;
  font-weight: 400; }

.information__list-item:not(:last-child) {
  margin-right: 28px; }

.information__list-link {
  text-decoration: none;
  color: #F9F6F2;
  font-family: Helvetica;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px; }

.header__buttons-wrap {
  display: flex; }

.header__button {
  background: transparent;
  border: none;
  color: #D09E70;
  text-decoration-line: underline;
  padding: 0;
  margin-right: 40px;
  font-family: Helvetica;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px; }

.header__button:first-child {
  color: #F4F2EE;
  margin-right: 22px; }

.header__button:nth-child(3) {
  background: #300F14;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
  text-decoration-line: none;
  padding: 9px 20px;
  margin: 0 10px 0 0; }

.header__button-lenguage {
  display: flex;
  flex-direction: column; }
  .header__button-lenguage .header__button {
    margin: 0px;
    font-size: 12px;
    line-height: 12px;
    text-decoration: none; }
  .header__button-lenguage .header__button:nth-child(1) {
    color: #D09E70;
    margin-bottom: 5px; }
  .header__button-lenguage .header__button:nth-child(2) {
    color: #622831; }

.navigation__list {
  list-style: none;
  display: flex; }

.navigation__list-item {
  display: flex; }

.vertical__line-navigation-first {
  margin-right: 16px;
  border-left: 2px solid #300F14; }

.vertical__line-navigation {
  border-left: 2px solid #300F14; }

.navigation__list-item-text {
  font-size: 18px;
  line-height: 21px;
  color: #F9F6F2;
  font-family: "Milio"; }

.navigation__list-item:nth-child(1) .navigation__list-item-text {
  color: #D09E70; }

.navigation__list-item:nth-child(1) .navigation__list-item-img {
  margin: 0px 16px 0px 13px; }

.navigation__list-item:nth-child(1) .vertical__line-navigation {
  margin-right: 30px; }

.navigation__list-item:nth-child(2) .navigation__list-item-img {
  margin: 0px 30px 0px 11px; }

.navigation__list-item:nth-child(2) .vertical__line-navigation {
  margin-right: 25px; }

.navigation__list-item:nth-child(3) .navigation__list-item-img {
  margin: 0px 18px 0px 13px; }

.navigation__list-item:nth-child(3) .vertical__line-navigation {
  margin-right: 37px; }

.navigation__list-item:nth-child(4) .navigation__list-item-img {
  margin: 0px 28px 0px 9px; }

.navigation__list-item:nth-child(4) .vertical__line-navigation {
  margin-right: 24px; }

.navigation__list-item:nth-child(5) .vertical__line-navigation {
  margin-left: 24px; }

.menu-img-wrap {
  display: none; }

@media screen and (max-width: 1250px) {
  .header {
    padding: 13px 25px 13px 10px;
    align-items: center;
    justify-content: space-between; }
  .logo__wrap {
    width: 60px;
    height: 34px;
    margin-right: 0px; }
  .header__right-block {
    display: none; }
  .menu-img-wrap {
    display: block; } }

.baner {
  background-image: url(../../images/Baner.png);
  background-size: cover;
  height: 400px;
  position: relative; }

.baner__content-wrap {
  display: flex;
  max-width: 1024px;
  width: 100%;
  margin: 0px auto;
  padding-top: 108px; }

.baner__title {
  font-size: 64px;
  line-height: 78px;
  color: #F9F6F2;
  margin-bottom: 12px; }

.baner__text {
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  width: 400px; }

.list__wrap-services {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1024px;
  width: 100%; }

@media screen and (max-width: 1250px) {
  .baner {
    height: 180px; }
  .baner__content-wrap {
    padding-top: 0px;
    margin: 0px;
    padding-left: 10%; } }

.list__services {
  display: flex;
  list-style: none;
  justify-content: center;
  max-width: 1024px;
  height: 140px;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  padding: 36px 18px 38px 36px; }

.list__services-item {
  display: flex;
  align-items: center;
  justify-content: center; }

.vertical__line {
  border-left: 2px solid #DFDFDF;
  height: 80px; }

.list__services-item:nth-child(1) .list__services-item-text {
  width: 100%;
  max-width: 110px;
  margin-right: 14px; }

.list__services-item:nth-child(1) .vertical__line {
  margin-right: 42px; }

.list__services-item:nth-child(2) .list__services-item-text {
  width: 100%;
  max-width: 97px;
  margin-right: 32px;
  text-decoration: underline; }

.list__services-item:nth-child(2) .vertical__line {
  margin-right: 33px; }

.list__services-item:nth-child(3) .list__services-item-text {
  width: 100%;
  max-width: 150px; }

.list__services-item:nth-child(3) .vertical__line {
  margin-right: 33px; }

.list__services-item:nth-child(4) .list__services-item-text {
  width: 100%;
  max-width: 116px; }

.services__icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center; }

.services__icon {
  width: 60px;
  height: 60px;
  margin-right: 30px; }

.services__icon-monitor {
  margin-right: 19px; }

.services__icon-magnifier {
  margin-right: 27px; }

.list__services-item-text {
  font-size: 22px;
  line-height: 27px;
  color: #300F14;
  font-family: "Milio"; }

@media screen and (max-width: 1250px) {
  .list__wrap-services {
    display: none; } }

.dividends {
  background-color: #F9F6F2;
  padding-top: 120px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.dividends__content {
  max-width: 1024px;
  margin-bottom: 24px;
  width: 100%; }

.dividends__title-wrap {
  display: flex;
  align-items: baseline;
  justify-content: space-between; }

.dividends__wrap-title {
  font-size: 24px;
  line-height: 35px;
  color: #D09E70;
  margin-bottom: 28px; }

.dividends__title {
  margin-bottom: 14px;
  font-size: 36px;
  line-height: 53px;
  color: #43191F; }

.dividends__line-wrap {
  max-width: 604px;
  width: 100%;
  padding-bottom: 5px; }

.dividends__title-line {
  height: 2px;
  background-color: #DFDFDF;
  width: 100%;
  border: 0px;
  margin: 0px; }

.dividends__wrap {
  display: flex;
  justify-content: center; }

.dividends__list-wrap {
  margin-right: 25px; }

.dividends__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.dividends__list-wrap .dividends__list-item:nth-child(1) {
  margin-bottom: 21px; }

.dividends__list-wrap .dividends__list-item:nth-child(2) {
  margin-bottom: 21px; }

.dividends__list-wrap:nth-child(1) .dividends__list-item:nth-child(2) {
  margin-bottom: 41px; }

.dividends__list-wrap:last-child {
  margin-right: 0px; }

.dividends__list-item {
  display: flex;
  align-items: center; }

.dividends__list-item-icon {
  width: 50px;
  height: 50px;
  margin-right: 16px; }

.dividends__list-item-text {
  max-width: 433px;
  font-size: 16px;
  line-height: 22px;
  font-family: Helvetica; }

.dividends__list-item-text:last-child {
  max-width: 431px; }

@media screen and (max-width: 1250px) {
  .dividends {
    padding: 20px 20px 20px 20px; }
  .dividends__title-wrap {
    align-items: center;
    flex-direction: column; }
  .dividends__title {
    margin-bottom: 0px; }
  .dividends__line-wrap {
    width: 100%;
    max-width: 1024px; }
  .dividends__content {
    margin-bottom: 0px; } }

.special__offer {
  background-color: #F9F6F2;
  display: flex;
  justify-content: center; }

.special__offer-content {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  width: 100%; }

.special__offer-line-wrap {
  max-width: 410px;
  width: 100%;
  padding-bottom: 1px; }

.special__offer-title-line {
  height: 2px;
  background-color: #D09E70;
  width: 100%;
  border: 0px;
  margin: 0px; }

.special__offer-list {
  list-style: none;
  display: flex;
  margin-bottom: 50px; }

.special__offer-bonus-title {
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 35px;
  color: #632831; }

.special__offer-item {
  padding: 25px 25px 18px 25px;
  background: #FFFFFF;
  border: 5px solid #E0E0E0;
  box-sizing: border-box;
  margin-right: 30px;
  max-width: 320px;
  width: 100%;
  max-height: 220px;
  height: 100%; }

.special__offer-item:nth-child(3) .special__offer-text {
  padding-right: 7px; }

.special__offer-item:last-child {
  margin-right: 0px; }

.special__offer-item:first-child {
  background: #FFFFFF;
  border: 10px solid #CB9C71;
  box-sizing: border-box;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
  padding: 20px 20px 13px 20px; }

.special__offer-content-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px; }

.special__offer-title {
  font-size: 36px;
  line-height: 51px;
  color: #43191F; }

.special__offer-wrap {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 48px; }

.special__offer-wrap-title {
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 35px;
  color: #632831; }

.special__offer-text {
  font-size: 12px;
  line-height: 14px;
  color: #686868;
  max-width: 250px;
  width: 100%;
  margin-bottom: 24px; }

.special__offer-percent-text {
  font-size: 18px;
  line-height: 25px;
  color: #CB9C71; }

.special__offer-details {
  font-size: 14px;
  line-height: 14px;
  color: #43191F;
  letter-spacing: 0.05em;
  font-family: "Helvetica", sans-serif;
  text-decoration: none; }

.special__offer-percent {
  display: flex;
  align-items: baseline;
  justify-content: space-between; }

.special__offer-get {
  display: flex;
  align-items: baseline;
  justify-content: space-between; }

.special__offer-get-text {
  font-size: 18px;
  line-height: 25px;
  color: #CB9C71; }

.get {
  font-size: 12px;
  line-height: 17px;
  color: #632831; }

@media screen and (max-width: 1250px) {
  .special__offer-wrap {
    flex-direction: column;
    align-items: center;
    margin-bottom: 26px; }
  .special__offer-line-wrap {
    width: 100%;
    max-width: 1024px; }
  .special__offer-details {
    display: none; }
  .special__offer-item {
    margin-right: 10px; }
  .special__offer-text {
    margin-bottom: 10px;
    padding: 0px; }
  .special__offer-content {
    padding: 20px; } }

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/HelveticaBold.woff");
  font-weight: bold;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/HelveticaRegular.woff");
  font-weight: normal;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/HelveticaRegular.woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/HelveticaLight.woff");
  font-weight: 300;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "Milio";
  src: url("../fonts/MilioBold.woff");
  font-weight: bold;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "Milio";
  src: url("../fonts/MilioRegular.woff");
  font-weight: normal;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "Milio";
  src: url("../fonts/MilioLight.woff");
  font-weight: 300;
  font-display: swap;
  font-style: normal; }

.score {
  padding: 50px 0px 50px 0px;
  display: flex;
  justify-content: center; }

.score_content {
  max-width: 1024px;
  width: 100%; }

.score__details {
  font-size: 14px;
  line-height: 14px;
  font-family: Helvetica;
  color: #43191F;
  letter-spacing: 0.05em;
  text-decoration: none; }

.score__list {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px; }

.score__list-information {
  list-style-type: none;
  padding: 32px 20px 20px 20px; }

.score__list-information-item {
  display: flex;
  flex-direction: column; }

.score__list-line {
  width: 100%; }

.line {
  height: 1px;
  background-color: #C4C4C4;
  width: 100%;
  border: 0px;
  margin: 0px; }

.score__list-information-button {
  display: flex;
  height: 50px;
  margin-top: 24px; }

.score__list-button {
  max-width: 280px;
  max-height: 50px;
  width: 100%;
  height: 100%;
  border: 1px solid #2A2A2A;
  font-family: Helvetica;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  background: #FFFFFF;
  cursor: pointer;
  letter-spacing: 0.05em; }

.score__item {
  list-style: none;
  max-width: 320px;
  width: 100%;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.1);
  margin-right: 30px; }

.score__item:nth-child(2) .score__item-up-img {
  background-color: #EABC84; }

.score__item:nth-child(2) .score__list-button {
  background: #D09E70;
  color: #FFFFFF;
  border: none;
  font-weight: 300; }

.score__item:nth-child(3) {
  margin-right: 0px; }
  .score__item:nth-child(3) .score__list-button {
    border: 1px solid #803742;
    color: #72303A; }
  .score__item:nth-child(3) .score__item-up-img {
    background-color: #B89765; }

.score__title-wrap {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 30px;
  max-width: 1022px; }

.score__title {
  font-family: "Milio", sans-serif;
  font-size: 36px;
  line-height: 51px;
  color: #43191F; }

.score__line-wrap {
  max-width: 556px;
  width: 100%;
  padding-bottom: 4px; }

.score__title-line {
  height: 2px;
  background-color: #D09E70;
  width: 100%;
  border: 0px;
  margin: 0px; }

.score__subtitle {
  margin-bottom: 44px;
  font-family: Helvetica;
  font-size: 18px;
  line-height: 25px;
  color: #979797;
  letter-spacing: 0.04em;
  font-weight: 300; }

.score__item-up {
  position: relative; }

.score__item-up-img {
  background: #B2B3B7;
  display: flex; }

.score__paragraph-wrap {
  display: flex; }

.marker {
  margin: 19px 9px 16px 12px; }

.information_score {
  font-family: Helvetica;
  font-size: 14px;
  line-height: 41px; }

.score__item-filling {
  position: absolute;
  top: 54px;
  text-align: center;
  padding: 0px 20px 0px 20px;
  color: #FFFFFF; }

.score__item-filling-title {
  font-size: 36px;
  line-height: 51px; }

.score__item-filling-text {
  font-size: 14px;
  line-height: 17px;
  font-family: "Helvetica", sans-serif;
  font-weight: 300; }

.points__list {
  list-style: none;
  display: flex;
  justify-content: center; }

.points__list-item {
  display: flex; }

.points__button {
  cursor: pointer;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  background: #535353; }

.points__list-item:nth-child(1) .points__button {
  background: #D09E70; }

.points__list-item:nth-child(2) {
  margin: 0px 22px 0px 22px; }

@media screen and (max-width: 1250px) {
  .score {
    padding: 50px 20px 50px 20px; }
  .score__details {
    display: none; }
  .score__title-wrap {
    flex-direction: column;
    align-items: center;
    margin-bottom: 26px; }
  .score__line-wrap {
    max-width: 1024px; } }

.training {
  background-color: #F9F6F2;
  display: flex;
  justify-content: center; }

.training__content {
  padding-top: 50x;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1024px;
  width: 100%; }

.training__title-wrap {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 40px;
  max-width: 1024px;
  width: 100%; }

.training__title {
  font-family: "Milio", sans-serif;
  font-size: 36px;
  line-height: 53px;
  color: #43191F; }

.training__line-wrap {
  max-width: 502px;
  width: 100%;
  padding-bottom: 4px; }

.training__title-line {
  height: 2px;
  background-color: #D09E70;
  width: 100%;
  border: 0px;
  margin: 0px; }

.training__details {
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.05em;
  color: #43191F;
  font-family: "Helvetica", sans-serif;
  text-decoration: none; }

.training__information {
  display: flex;
  flex-direction: row;
  max-height: 243px;
  height: 100%;
  margin-bottom: 32px; }

.training__information-text {
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  font-family: "Helvetica", sans-serif;
  padding-right: 34px; }

.training__img-wrap {
  position: relative; }

.training__play-img {
  position: absolute;
  left: 224px;
  top: 78px; }

.training__text {
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  font-family: "Helvetica", sans-serif; }

.market {
  background-color: #F9F6F2;
  display: flex;
  justify-content: center; }

.market__content-wrap {
  max-width: 1024px;
  width: 100%;
  padding-bottom: 100px; }

.market__title-wrap {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 48px; }

.market__title {
  font-size: 36px;
  line-height: 51px;
  color: #43191F; }

.market__line-wrap {
  max-width: 556px;
  width: 100%;
  padding-bottom: 4px; }

.market__title-line {
  height: 2px;
  background-color: #D09E70;
  width: 100%;
  border: 0px;
  margin: 0px; }

.market__news {
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.05em;
  color: #43191F;
  font-family: "Helvetica", sans-serif;
  text-decoration: none; }

.market__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap; }

.market__list-item {
  max-width: 489px;
  width: 100%;
  display: flex;
  margin-right: 44px;
  margin-bottom: 52px; }

.market__list-item:nth-child(2) {
  margin-right: 0px; }
  .market__list-item:nth-child(2) .market__list-title {
    line-height: 25px; }

.market__list-item:nth-child(3) {
  margin-bottom: 0px; }

.market__list-item:nth-child(4) {
  margin: 0px; }

.market__list-title-wrap {
  display: flex;
  align-items: flex-end;
  justify-content: space-between; }

.market__list-title {
  font-size: 18px;
  line-height: 26px;
  color: #43191F; }

.market__list-title-date {
  font-size: 12px;
  line-height: 20px;
  color: #000000;
  font-family: "Helvetica", sans-serif; }

.market__list-line {
  height: 1px;
  background-color: #E7E7E7;
  width: 100%;
  border: 0px;
  margin: 0px;
  margin: 8px 0px 12px 0px; }

.market__wrap-img {
  display: flex;
  align-items: center;
  margin-right: 16px; }

.market__list-item-text {
  font-size: 12px;
  line-height: 14px;
  font-family: "Helvetica", sans-serif;
  color: #000000; }

.company {
  background-color: #F9F6F2;
  display: flex;
  justify-content: center;
  padding-bottom: 60px; }

.company__content-wrap {
  max-width: 1024px;
  width: 100%; }

.company__title-wrap {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-bottom: 45px; }

.title__company {
  font-size: 36px;
  line-height: 51px;
  color: #43191F; }

.company__line-wrap {
  max-width: 492px;
  width: 100%;
  padding-bottom: 4px; }

.company__title-line {
  height: 2px;
  background-color: #D09E70;
  width: 100%;
  border: 0px;
  margin: 0px; }

.more__news {
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: #43191F; }

.news__content-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px; }

.news__content-list-item {
  display: flex;
  max-width: 490px;
  width: 100%;
  max-height: 140px;
  height: 100%; }

.news__content-list-item:nth-child(2) .news__content-title {
  text-decoration: none; }

.news__content-list-item:nth-child(2) .news__content-text {
  color: #686868; }

.news__content-text-wrap {
  padding: 10px 7px 0px 12px;
  background-color: #FFFFFF;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.1); }

.news__content-title {
  font-size: 18px;
  line-height: 25px;
  text-decoration: underline;
  color: #43191F; }

.news__content-text {
  font-size: 12px;
  line-height: 17px;
  color: #000000;
  font-family: "Helvetica", sans-serif;
  padding-right: 8px; }

.secondary {
  max-width: 290px;
  width: 100%; }

.company__line {
  height: 1px;
  background-color: #E7E7E7;
  width: 100%;
  border: 0px;
  margin: 0px; }

.news__more {
  display: flex;
  justify-content: space-between; }

.grey {
  padding-bottom: 10px; }

.news__more-date {
  font-size: 12px;
  line-height: 20px;
  font-family: "Helvetica", sans-serif; }

.news__more-text {
  font-size: 12px;
  line-height: 17px;
  color: #CB9C71;
  text-decoration: none; }

.open__account-wrap {
  max-width: 1024px;
  width: 100%;
  max-height: 250px;
  height: 100%;
  background: #C7A97D;
  padding: 15px 15px 15px 13px;
  background-image: url(../../images/bitmap.png);
  background-repeat: no-repeat;
  background-position: right; }

.open__account-content {
  display: flex;
  flex-direction: column;
  padding: 20px 0px 20px 22px;
  border: 1px solid #FFFFFF; }

.open__account-title {
  max-width: 500px;
  width: 100%;
  font-size: 37px;
  line-height: 43px;
  color: #FFFFFF;
  font-family: "Milio", sans-serif;
  margin-bottom: 45px; }

.open__account-button {
  max-width: 220px;
  width: 100%;
  height: 50px;
  cursor: pointer;
  outline: none;
  letter-spacing: 0.05em; }

.open__account-button:nth-child(1) {
  background: #FFFFFF;
  font-size: 14px;
  line-height: 14px;
  color: #D09E70;
  border: none;
  margin-right: 20px; }

.open__account-button:nth-child(2) {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  color: #FFFFFF;
  border: 2px solid #FFFFFF; }

.partners {
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 51px; }

.partners__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center; }

.partners__list-item {
  margin-right: 19px; }

.partners__list-item:nth-child(1) {
  width: 120px;
  height: 64.55px; }

.partners__list-item:nth-child(2) {
  width: 180px;
  height: 59.94px; }

.partners__list-item:nth-child(3) {
  width: 170px;
  height: 40.26px; }

.partners__list-item:nth-child(4) {
  width: 220px;
  height: 68.97px; }

.partners__list-item:nth-child(5) {
  width: 120px;
  height: 44.13px;
  margin-right: 0px; }

.footer__up {
  display: flex;
  justify-content: center;
  background-color: #282A35;
  padding-top: 40px;
  padding-bottom: 36px; }

.footer__up-content {
  display: flex;
  max-width: 1024px;
  width: 100%; }

.footer__img-wrap {
  margin-right: 52px; }

.footer__navigation-list {
  list-style: none;
  column-count: 2; }

.footer__navigation-list-item {
  margin: 0px 45px 20px 0px; }

.footer__navigation-list-item:nth-child(1) .footer__navigation-link {
  color: #D09E70; }

.footer__navigation-list-item:nth-child(3) {
  margin-bottom: 0px; }

.footer__navigation-list-item:nth-child(4) {
  margin-right: 0px; }

.footer__navigation-list-item:nth-child(5) {
  margin-right: 0px; }

.footer__navigation-list-item:nth-child(6) {
  margin-bottom: 0px;
  margin-right: 0px; }

.footer__navigation-link {
  font-size: 14px;
  line-height: 16px;
  color: #ECEAE0;
  font-family: "Milio", sans-serif;
  text-decoration: none; }

.footer__content-list {
  list-style: none;
  max-width: 204px;
  width: 100%;
  margin-right: 42px; }

.footer__content-list-item:nth-child(2) .footer__content-link {
  color: #D09E70;
  text-decoration: underline; }

.footer__content-link {
  font-size: 12px;
  line-height: 26px;
  color: #ECEAE0;
  text-decoration: none;
  font-family: "Helvetica", sans-serif; }

.footer__partners-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 90px 94px 2fr; }

.footer__partners-list-img {
  flex-basis: 30%;
  display: block; }

.footer__partners-list-img:nth-child(6) {
  padding-top: 6px; }

.footer__down {
  display: flex;
  justify-content: center;
  background-color: #1A1A1A;
  padding: 35px 0 35px 0; }

.footer__down-content {
  max-width: 1024px;
  width: 100%;
  display: flex; }

.footer__down-text {
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 0.05em;
  color: #424555;
  font-family: "Helvetica", sans-serif;
  max-width: 880px;
  width: 100%; }

.footer__down-wrap-img {
  margin-left: 24px; }

body {
  margin: 0px;
  font-family: "Helvetica", sans-serif;
  font-family: "Milio", sans-serif; }

p, h1, h2, h3 {
  margin: 0; }

* {
  box-sizing: border-box; }

ul {
  margin: 0px;
  padding: 0px; }
