@import './section/variables';
@import './section/header';
@import './section/baner';
@import './section/list-services';
@import './section/dividends';
@import './fonts.scss';
@import './section/score';
@import './section/training';
@import './section/market';
@import './section/company';
body {
    margin: 0px;
    font-family: "Helvetica", sans-serif;
    font-family: "Milio", sans-serif;
  }
  
  p, h1, h2, h3 {
    margin: 0; }
  
  * {
    box-sizing: border-box; }

    ul {
      margin: 0px;
      padding: 0px;
    }
  
  