@import './section/variables';
@import './section/header';

body {
    margin: 0px;
  }
  
  p, h1, h2, h3 {
    margin: 0; }
  
  * {
    box-sizing: border-box; }

    ul {
      margin: 0px;
      padding: 0px;
    }