.baner {
 background-image: url(../../images/Baner.png);
 background-size: cover;
 height: 400px;
 position: relative;
}

.baner__content-wrap {
    display: flex;
    max-width: 1024px;
    width: 100%;
    margin: 0px auto;
    padding-top: 108px;
}


.baner__title {
    font-size: 64px;
    line-height: 78px;
    color: #F9F6F2;
    margin-bottom: 12px;
}

.baner__text {
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    width: 400px;
}

.list__wrap-services {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1024px;
    width: 100%;

}