.dividends {
    background-color: #F9F6F2;
    padding-top: 120px;
    padding-bottom: 50px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.dividends__content {
    max-width: 1024px;
    margin-bottom: 24px;
    width: 100%;
}

.dividends__title-wrap {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.dividends__wrap-title {
    font-size: 24px;
    line-height: 35px;
    color: #D09E70;
    margin-bottom: 28px;
}

.dividends__title {
    margin-bottom: 14px;
    font-size: 36px;
    line-height: 53px;
    color: #43191F;
}

.dividends__line-wrap {
    max-width: 604px;
    width: 100%;
    padding-bottom: 5px;
}

.dividends__title-line {
    height: 2px;
    background-color: #DFDFDF;
    width: 100%;
    border: 0px;
    margin: 0px;
}


.dividends__wrap {
    display: flex;
    justify-content: center;
}

.dividends__list-wrap {
    margin-right: 25px;
}

.dividends__list {
    display: flex;
    flex-direction: column;
    max-height: 236px;
    justify-content: space-between;
    height: 100%;
}

.dividends__list-wrap:last-child {
    margin-right: 0px;
}

.dividends__list-item {
    display: flex;
    align-items: center;
}

.dividends__list-item-icon {
    width: 50px;
    height: 50px;
    margin-right: 16px;
}

.dividends__list-item-text {
    max-width: 433px;
    font-size: 16px;
    line-height: 22px;
    font-family: Helvetica;
}

.dividends__list-item-text:last-child {
    max-width: 431px;
}
