.dividends {
    background-color: #F9F6F2;
    padding-top: 120px;
    padding-bottom: 50px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.dividends__content {
    max-width: 1024px;
    margin-bottom: 24px;
}

.dividends__title {
    margin-bottom: 34px;
}
.dividends__wrap {
    display: flex;
    justify-content: center;
}

.dividends__list-wrap {
    margin-right: 25px;
}

.dividends__list-wrap:last-child {
    margin-right: 0px;
}

.dividends__list-item {
    display: flex;
    align-items: center;
}

.dividends__list-item-icon {
    width: 60px;
    height: 60px;
    margin-right: 16px;
}

.dividends__list-item-text {
    max-width: 433px;
}

.dividends__list-item-text:last-child {
    max-width: 431px;
}

.special__offer {
    background-color: #F9F6F2
}

.special__offer-content {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
}

.special__offer-list {
    list-style: none;
    display: flex;
}

.special__offer-item {
    padding: 30px 30px 23px 30px;
    background: #FFFFFF;
    border: 5px solid #E0E0E0;
    box-sizing: border-box;
    margin-right: 30px;
    max-width: 320px;
    width: 100%;
}

.special__offer-item:last-child {
    margin-right: 0px;
}

.special__offer-item:first-child {
    background: #FFFFFF;
    border: 10px solid #CB9C71;
    box-sizing: border-box;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    margin-right: 33px;
}

.special__offer-content-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;
}

.special__offer-title {
    font-size: 36px;
    line-height: 51px;
    color: #43191F;
}

.special__offer-wrap-title {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 35px;
    color: #632831;
}

.special__offer-text {
    font-size: 12px;
    line-height: 14px;
    color: #686868;

}

.special__offer-details {
    font-size: 14px;
    line-height: 14px;
    color: #43191F;
}


.special__offer-percent {
    display: flex;
    
}

.special__offer-wrap-text {
    font-size: 12px;
    line-height: 14px;
    color: #686868;
    margin-bottom: 16px;
}

.special__offer-get-text {
    font-size: 18px;
    line-height: 25px;
    color: #CB9C71;
}

.get {
    font-size: 12px;
    line-height: 17px;
    color: #632831;
}
