
$font-size-14: 14px;
$line-height-16: 16px;

.header {
    background-color: #43191F;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 12px 0;
}

.header__right-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo__wrap {
    display: flex;
    width: 170px;
    height: 97px;
    margin-right: 55px;

}

.logo {
    width: 100%;
    height: 100%;
}



.header__up-block {
    display: flex;
    margin-bottom: 21px;
    align-items: center;
}

.service__information-list {
    display: flex;
    padding: 0;
    margin: 0;
}

.service__information-list {
    margin-right: 127px;
    list-style: none;
    padding-left: 0px;

}

.information__list-item {
    font-size: 14px;
    line-height: 16px;
    color: #F9F6F2;
    font-weight: 400;
}

.information__list-item:not(:last-child) {
    margin-right: 28px;
}

.information__list-link {
    text-decoration:none;
    color: #F9F6F2;
    font-family: Helvetica;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}


.header__buttons-wrap{
    display: flex;
}

.header__button {
    background: transparent;
    border: none;
    color: #D09E70;
    text-decoration-line: underline;
    padding: 0;
    margin-right: 40px;
    font-family: Helvetica;
    font-weight: normal;
    font-size: $font-size-14;
    line-height: $line-height-16;

}

.header__button:first-child {
    color: #F4F2EE;
    margin-right: 22px;
    
}

.header__button:nth-child(3) {
    background: #300F14;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
    text-decoration-line:none;
    padding: 9px 20px;
    margin: 0 10px 0 0;
}


.header__button-lenguage {
    display: flex;
    flex-direction: column;
    .header__button {
        margin: 0px;
        font-size: 12px;
        line-height: 12px;
        text-decoration: none;
    }

    .header__button:nth-child(1) {
        color: #D09E70;
        margin-bottom: 5px;
    }

    .header__button:nth-child(2) {
        color: #622831;
    }
}

.navigation__list {
    list-style: none;
    display: flex;

}

.navigation__list-item {
    display: flex;
}

.vertical__line-navigation-first {
    margin-right: 16px;
    border-left: 2px solid #300F14;
}

.vertical__line-navigation {
    border-left: 2px solid #300F14;
}

.navigation__list-item-text {
    font-size: 18px;
    line-height: 21px;
    color: #F9F6F2;
    font-family: "Milio";   
}


.navigation__list-item:nth-child(1) {
    .navigation__list-item-text {
        color: #D09E70;
    }

    .navigation__list-item-img {
        margin: 0px 16px 0px 13px;
    }

    .vertical__line-navigation{
        margin-right: 30px;
    }
}

.navigation__list-item:nth-child(2) {
    .navigation__list-item-img {
        margin: 0px 30px 0px 11px;
    }

    .vertical__line-navigation{
        margin-right: 25px;
    }
}

.navigation__list-item:nth-child(3) {
    .navigation__list-item-img {
        margin: 0px 18px 0px 13px;
    }

    .vertical__line-navigation{
        margin-right: 37px;
    }
}

.navigation__list-item:nth-child(4) {
    .navigation__list-item-img {
        margin: 0px 28px 0px 9px;
    }

    .vertical__line-navigation{
        margin-right: 24px;
    }
}

.navigation__list-item:nth-child(5) {
    .vertical__line-navigation{
        margin-left: 24px;
    }
}

.menu-img-wrap {
    display: none;
}


@media screen and (max-width: 1250px) {
    .header {
        padding: 13px 25px 13px 10px;
        align-items: center;
        justify-content: space-between;
    }

    .logo__wrap {
        width: 60px;
        height: 34px;
        margin-right: 0px;
    }

    .header__right-block {
        display: none;
    }

    .menu-img-wrap {
        display: block;
    }

}