

.list__services{
    display: flex;
    list-style: none;
    justify-content: center;
    max-width: 1024px;
    height: 140px;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    padding: 36px 18px 38px 36px;
}

.list__services-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list__services-item:nth-child(1) {
    .list__services-item-text {
        margin-right: 86px;
        width: 100%;
        max-width: 74px;
    }
}


.list__services-item:nth-child(2) {
    .list__services-item-text {
        margin-right: 82px;
        width: 100%;
        max-width: 88px;
    }
}

.list__services-item:nth-child(3) {
    .list__services-item-text {
        margin-right: 82px;
        width: 100%;
        max-width: 105px;
    }
}

.list__services-item:nth-child(4) {
    .list__services-item-text {
        width: 100%;
        max-width: 73px;
    }
}
.services__icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}



.services__icon{
    width: 60px;
    height: 60px;
    margin-right: 30px;
}

.services__icon-monitor{
    margin-right: 19px;
}

.services__icon-magnifier{
    margin-right: 27px;
}

.list__services-item-text {
    font-size: 22px;
    line-height: 27px;
    color: #300F14;
    font-family: "Milio";
}




/* разобраться с чайлд

.list__services-item-text:first-child {
    width: 72px;
}

.list__services-item-text:nth-child(2) {
    width: 85px;
}

.list__services-item-text:nth-child(3) {
    width: 102px;
}

.list__services-item-text:nth-child(4) {
    width: 72px;
}

*/