.partners {
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 51px;
}

.partners__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items:center;
}

.partners__list-item {
    margin-right: 19px;
}

.partners__list-item:nth-child(1) {
    .partners__img {}
    width: 120px;
    height: 64.55px;
}

.partners__list-item:nth-child(2) {
    .partners__img {}
    width: 180px;
    height: 59.94px;
}

.partners__list-item:nth-child(3) {
    .partners__img {}
    width: 170px;
    height: 40.26px;
}

.partners__list-item:nth-child(4) {
    .partners__img {}
    width: 220px;
    height: 68.97px;
}

.partners__list-item:nth-child(5) {
    .partners__img {}
    width: 120px;
    height: 44.13px;
    margin-right: 0px;
}