.training {
    background-color: #F9F6F2;
    display: flex;
    justify-content: center;

}

.training__content {
    padding-top: 50x;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1024px;
    width: 100%;
}

.training__title-wrap {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 40px;
    max-width: 1024px;
    width: 100%;
}

.training__title {
font-family: "Milio", sans-serif;
font-size: 36px;
line-height: 53px;
color: #43191F;
}

.training__line-wrap {
    max-width: 502px;
    width: 100%;
    padding-bottom: 4px;
}

.training__title-line {
    height: 2px;
    background-color: #D09E70;
    width: 100%;
    border: 0px;
    margin: 0px;
}

.training__details {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.05em;
    color: #43191F;
    font-family: "Helvetica", sans-serif;
    text-decoration: none;
}

.training__information{
    display: flex;
    flex-direction: row;
    margin-bottom: 32px;
}

.training__information-text {
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    font-family: "Helvetica", sans-serif;
    padding-right: 34px;
}

.training__img-wrap {
    position: relative;
}

.training__play-img {
    position: absolute;
    left: 224px;
    top: 78px;
}

.training__text {
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    font-family: "Helvetica", sans-serif;
}

@media screen and (max-width: 1250px) {
    .training {
        padding: 20px 30px 50px 30px;
    }
    .training__content {
        padding-bottom: 0px;
    }
    .training__details {
        display: none;
    }
    .training__title-wrap {
        flex-direction: column;
        align-items: center;
    }
    .training__line-wrap {
        max-width: 1024px;
    }
    .training__information {
        flex-direction: column;
        align-items: center;
        .training__information-text {
            margin-bottom: 32px;
        }
    }
    .training__information-text {
        padding: 0px 132px;
    }
}